@font-face {
	font-family : "raleway";
	font-display : swap;
	src : url("../fonts/raleway-light.woff2") format("woff2");
	font-weight : 300;
	font-style : normal;
}
@font-face {
	font-family : "raleway";
	font-display : swap;
	src : url("../fonts/raleway-black.woff2") format("woff2");
	font-weight : 900;
	font-style : normal;
}
